@model HomeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- End Header Section -->
    <!-- Start Hero -->
    <section class="ak-slider ak-slider-hero-two-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="ak-hero ak-style1 slide-inner style-two">
                    <img src="~/web-cras-three.vercel.app/assets/img/hero_two_slider_bg_1.png" class="ak-hero-bg ak-bg object-cover" alt="...">
                    <div class="container">
                        <div class="hero-slider-info style-two">
                            <div class="slider-info">
                                <div class="hero-title">
                                    <h1 class="hero-main-title" data-swiper-parallax="300">
                                       Avtomobil 
                                    </h1>
                                    <h1 class="hero-main-title-1 style-2" data-swiper-parallax="100">
                                    Servisi
                                    </h1>
                                    <p class="mini-title" data-swiper-parallax="200">
                                    Azərbaycanın ən etibarlı avtomobil servisi olaraq, peşəkar komandamızla hər zaman yanınızdayıq. 
                                    Müasir texnologiya və yüksək keyfiyyətli ehtiyat hissələri ilə avtomobilinizin təhlükəsizliyini və performansını təmin edirik. 
                                    Sürətli və effektiv xidmətlərimizlə, yolunuza heç bir problem yaşamadan davam edin!
                                    </p>
                                </div>
                                <div class="ak-height-45 ak-height-lg-30"></div>
                                @Html.Partial("_socialMedia")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ak-hero ak-style1 slide-inner style-two">
                <img src="~/web-cras-three.vercel.app/assets/img/hero_two_slider_bg_2.png" class="ak-hero-bg ak-bg object-cover" alt="...">
                    <div class="container">
                        <div class="hero-slider-info style-two">
                            <div class="slider-info">
                                <div class="hero-title">
                                <h1 class="hero-main-title " data-swiper-parallax="300">Peşəkar </h1>
                                <h1 class="hero-main-title-1 style-2" data-swiper-parallax="100">Xidmət</h1>
                                    <p class="mini-title" data-swiper-parallax="200">
                                    Peşəkar komandamızla avtomobilinizə ən keyfiyyətli baxım və təmir xidmətləri göstəririk.
                                    Müasir texnologiya və orijinal ehtiyat hissələri istifadə edərək, təhlükəsiz və problemsiz sürüş təmin edirik. 
                                    Sürətli və etibarlı servisimizlə, yolda qalmaqdan narahat olmadan səfərlərinizin dadını çıxarın!
                                    </p>
                                </div>
                                <div class="ak-height-45 ak-height-lg-30"></div>
                            @Html.Partial("_socialMedia")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ak-hero ak-style1  slide-inner style-two">
                <img src="~/web-cras-three.vercel.app/assets/img/hero_two_slider_bg_1.png" class="ak-hero-bg ak-bg object-cover" alt="...">
                    <div class="container">
                        <div class="hero-slider-info style-two">
                            <div class="slider-info">
                                <div class="hero-title">
                                <h1 class="hero-main-title" data-swiper-parallax="300">Avtomobil</h1>
                                <h1 class="hero-main-title-1 style-2" data-swiper-parallax="100">Servisi</h1>
                                    <p class="mini-title" data-swiper-parallax="200">
                                    Peşəkar ustalarımız avtomobilinizin bütün ehtiyaclarını ən yüksək səviyyədə qarşılayır. 
                                    Yüksək keyfiyyətli avadanlıq və ehtiyat hissələri ilə xidmət edirik.
                                    Sürətli və güvənli servislə hər zaman yolunuza davam edin!
                                    </p>
                                </div>
                                <div class="ak-height-45 ak-height-lg-30"></div>
                            @Html.Partial("_socialMedia")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ak-hero ak-style1 slide-inner style-two">
                <img src="~/web-cras-three.vercel.app/assets/img/hero_two_slider_bg_2.png" class="ak-hero-bg ak-bg object-cover" alt="...">
                    <div class="container">
                        <div class="hero-slider-info style-two">
                            <div class="slider-info">
                                <div class="hero-title">
                                <h1 class="hero-main-title " data-swiper-parallax="300">Peşəkar</h1>
                                    <h1 class="hero-main-title-1 style-2" data-swiper-parallax="100">Xidmət</h1>
                                    <p class="mini-title" data-swiper-parallax="200">
                                    Müştərilərimizin etibarını qazanmaq üçün təhlükəsiz və etibarlı xidmətlərimizi sürətlə təklif edirik. 
                                    Peşəkar komandamızla, avtomobilinizin daha uzun müddət faydalı olması üçün ən yüksək keyfiyyətli xidmətlər təmin edirik. 
                                    Bizimlə əlaqə saxlayın və səyahətinizin keyfini çıxarın!
                                    </p>
                                </div>
                                <div class="ak-height-45 ak-height-lg-30"></div>
                            @Html.Partial("_socialMedia")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->
    <!-- Start Service Progress -->

    <!-- End Service Progress -->
    <!-- Start Why Choose Us -->
    @Html.Partial("_whyChooseUsPartial")
    <!-- End Why Choose Us -->
    <!-- Start Services -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="center-section-heading" data-aos="fade-up">
            <div class="ak-section-heading ak-style-1">
                <div class="background-text" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                    Xidmətlərimiz
                </div>
                <div class="text-md-center">
                    <h2 class="ak-section-title">Xidmətlərimiz</h2>
                    <p class="ak-section-subtitle">
                       Xidmətlərimiz
                    </p>
                </div>
            </div>
        </div>
        <div class="ak-height-50 ak-height-lg-50"></div>
        <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 g-4">
        @foreach (var item in Model.Services)
        {
            <div class="col">
                <div class="service-card-style-2" data-aos="fade-up">
                    <div class="service-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                            <path d="M19.5293 25.4204H26.7225V19.6704H11.6834L13.8627 14.7916C14.0912 14.2626 14.6102 13.9204 15.1852 13.9204H24.0545C23.7771 12.4671 23.7728 11.0914 24.0603 9.60793H15.1852C12.8823 9.60793 10.808 10.9764 9.90092 13.0924L6.78442 20.3662C4.96886 21.3336 3.7168 23.2239 3.7168 25.4204V28.2954C3.7168 30.4143 4.88117 32.2486 6.5918 33.2462V38.3579C6.5918 39.9435 7.88123 41.2329 9.4668 41.2329H13.7793C15.3649 41.2329 16.6543 39.9435 16.6543 38.3579V34.0454H26.7225V28.2954H19.5293C18.7358 28.2954 18.0918 27.6514 18.0918 26.8579C18.0918 26.0644 18.7358 25.4204 19.5293 25.4204ZM11.623 30.4517C9.63786 30.4517 8.0293 28.8431 8.0293 26.8579C8.0293 24.8727 9.63786 23.2642 11.623 23.2642C13.6082 23.2642 15.2168 24.8727 15.2168 26.8579C15.2168 28.8431 13.6082 30.4517 11.623 30.4517Z"
                                  fill="white" />
                            <path d="M43.8548 10.2936C43.2612 6.89105 40.4063 4.45737 38.7704 3.96143C38.4944 3.87805 38.2227 4.09655 38.2227 4.38405V11.596C38.2227 12.1408 37.9151 12.6382 37.4278 12.8811L35.9903 13.5999C35.5849 13.8026 35.1091 13.8026 34.7051 13.5999L33.2676 12.8811C32.7803 12.6382 32.4727 12.1394 32.4727 11.596V4.38405C32.4727 4.09512 32.1996 3.87662 31.9221 3.96143C30.2848 4.46887 27.4314 6.93993 26.842 10.3137C26.336 13.2117 27.4228 16.0537 29.1377 17.7701C29.4195 18.0518 29.5963 18.4155 29.5963 18.8137V38.3594C29.5963 41.5334 32.1694 44.1065 35.3434 44.1065C38.5174 44.1065 41.0905 41.5334 41.0905 38.3594L41.0948 18.8209C41.0948 18.4184 41.2774 18.0475 41.562 17.7614C43.2885 16.0364 44.3594 13.1816 43.8548 10.2936ZM35.3549 40.5142C34.1646 40.5142 33.1986 39.5482 33.1986 38.3579C33.1986 37.1677 34.1646 36.2017 35.3549 36.2017C36.5452 36.2017 37.5112 37.1677 37.5112 38.3579C37.5112 39.5482 36.5452 40.5142 35.3549 40.5142Z"
                                  fill="white" />
                        </svg>
                    </div>
                    <div class="service-desp">
                        <a class="title">@item.Title</a>
                        <p class="desp">
                            @item.Description
                        </p>

                    </div>
                </div>
            </div>
        }

        </div>
    </div>
    <!-- end Services -->
    <!-- Start Fun Fact Counter -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="ak-primary-bg">
        <div class="ak-height-65 ak-height-lg-50"></div>
        <div class="container auto-counter-section">
            <div class="row align-items-center gap-lg-0">
                <div class="col-lg-4">
                    <div class="ak-funfact ak-style1" data-aos="fade-up">
                        <div class="ak-funfact-number color-1">
                            <div>
                                <span id="count" class="ak-stroke-number color-white counter" data-number="10"></span>
                            </div>
                            <div><span class="ak-stroke-number color-white">+</span></div>
                        </div>
                        <div class="ak-funfact-text">
                        <p>XİDMƏT İLİ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ak-funfact ak-style1" data-aos="fade-up" data-aos-delay="100">
                        <div class="ak-funfact-number">
                            <div>
                                <span id="count" class="ak-stroke-number color-white counter" data-number="256"></span>
                            </div>
                            <div><span class="ak-stroke-number color-white">+</span></div>
                        </div>

                        <div class="ak-funfact-text">
                        <p>XOŞBƏXT MÜŞTƏRİLƏR</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ak-funfact ak-style1" data-aos="fade-up" data-aos-delay="150">
                        <div class="ak-funfact-number">
                            <div>
                                <span id="count" class="ak-stroke-number color-white counter" data-number="112"></span>
                            </div>
                            <div><span class="ak-stroke-number color-white">+</span></div>
                        </div>
                        <div class="ak-funfact-text">
                        <p>MÜŞTƏRİ MƏMNUNİYYƏTİ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ak-height-65 ak-height-lg-50"></div>
    </div>
    <!-- End Fun Fact Counter -->
    <!-- Start Testimonial  -->
    @await Component.InvokeAsync("Testimonial")
    <!-- End Testimonial -->
    <!-- Start Trusted Client -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="ak-slider ak-trusted-client-slider">
            <h4 class="title">Əməkdaşlarımız</h4>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_1.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_2.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                        <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_3.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_4.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_5.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_6.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_7.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_1.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_2.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                        <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_3.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                        <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_4.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_5.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                        <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_6.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_7.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Trusted Client -->
    <!-- Start Team  -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="center-section-heading" data-aos="fade-up">
            <div class="ak-section-heading ak-style-1">
                <div class="background-text" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                    Kamandamız
                </div>
                <div class="text-md-center">
                    <h2 class="ak-section-title">Kamandamız</h2>
                    <p class="ak-section-subtitle">
                        Azərbayanın Ən Peşəkar Ustaları
                    </p>
                </div>
            </div>
        </div>
        <div class="ak-height-50 ak-height-lg-50"></div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 g-4">
        @foreach (var item in Model.Teams)
        {
            <div class="col">
                <div class="member-card" data-aos="fade-up" data-aos-delay="0">
                    <span href="team-single.html">
                        <img src="@item.ImageUrl" class="member-img ak-bg" alt="..." />
                    </span>
                    <div class="member-info">
                        <div class="member-title">
                            <span class="title">
                                @item.Name @item.Surname
                            </span>
                            <p class="desp">@item.Position</p>
                        </div>
                        <div class="member-info-social">
                            <a href="@item.LinkedInUrl" class="icon">
                                <img src="~/web-cras-three.vercel.app/assets/img/linkedinicon.svg"
                                     alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
    <!-- End Team  -->
    <!-- Start Pricing -->
    <div class="ak-height-125 ak-height-lg-50"></div>
    <div class="ak-bg">
        <div class="container">
            <div class="center-section-heading" data-aos="fade-up">
                <div class="ak-section-heading ak-style-1 ak-type-1">
                    <div class="background-text" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                        Qiymətlərimiz
                    </div>
                    <h2 class="ak-section-title">
                        Qiymətlərimiz
                    </h2>
                    <p class="ak-section-subtitle">
                          Sizə Uyğun Paketi Seçerek və 6 Aylıq Abonelik Alaraq 
                          Peşəkar Xidmətlərimizdən Faydalana Bilərsiz.  
                    </p>
                </div>
            </div>
            <div class="ak-height-50 ak-height-lg-50"></div>
            <div class="pricing">
                @foreach (var item in Model.Pricings)
            {
                <div class="pricing-card active" data-aos="fade-up" data-aos-delay="700">
                    <div class="pricing-heading">
                        <h3 class="page-title">@item.Title</h3>
                        <h2 class="discount-price">₼@item.Price</h2>
                    </div>
                    <div class="opation-all">

                        @await Component.InvokeAsync("PricingDescription", new { pricingId = item.Id })
                    </div>
                    <a asp-action="Order" asp-controller="Pricing" asp-route-id="@item.Id" class="get-started-btn">
                        <span>
                            Xidmətə <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"
                                     fill="none">
                                    <g clip-path="url(#clip0_147_83)">
                                        <path d="M8 0.273438C3.58866 0.273438 0 3.86209 0 8.27344C0 12.6848 3.58866 16.2734 8 16.2734C12.4113 16.2734 16 12.6848 16 8.27344C16 3.86209 12.4113 0.273438 8 0.273438ZM10.4713 8.74478L7.138 12.0781C7.008 12.2081 6.83734 12.2734 6.66666 12.2734C6.496 12.2734 6.32531 12.2081 6.19531 12.0781C5.93466 11.8174 5.93466 11.3961 6.19531 11.1354L9.05734 8.27344L6.19534 5.41144C5.93469 5.15078 5.93469 4.72944 6.19534 4.46878C6.456 4.20813 6.87734 4.20813 7.138 4.46878L10.4713 7.80212C10.732 8.06278 10.732 8.48409 10.4713 8.74478Z"
                                              fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_147_835">
                                            <rect width="16" height="16" fill="white" transform="translate(0 0.273438)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <br>
                            </span> Başla
                        </span>
                    </a>
                </div>
            }
            </div>
        </div>
    </div>
    <!-- End Pricing -->
    <!-- Start Blog -->
    @await Component.InvokeAsync("LastBlogs")
    <!-- End Blog -->

    <!--Start Appointment  form -->
    <!--End Appointment form -->
    <!-- Start Footer -->
