@model HomeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- End Header Section -->
    <!-- Start Hero -->
    <section class="ak-slider ak-slider-hero-two-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="ak-hero ak-style1 slide-inner style-two">
                    <img src="~/web-cras-three.vercel.app/assets/img/hero_two_slider_bg_1.png" class="ak-hero-bg ak-bg object-cover" alt="...">
                    <div class="container">
                        <div class="hero-slider-info style-two">
                            <div class="slider-info">
                                <div class="hero-title">
                                    <h1 class="hero-main-title" data-swiper-parallax="300">
                                       Avtomobil 
                                    </h1>
                                    <h1 class="hero-main-title-1 style-2" data-swiper-parallax="100">
                                    Servisi
                                    </h1>
                                    <p class="mini-title" data-swiper-parallax="200">
                                    Azərbaycanın ən etibarlı avtomobil servisi olaraq, peşəkar komandamızla hər zaman yanınızdayıq. 
                                    Müasir texnologiya və yüksək keyfiyyətli ehtiyat hissələri ilə avtomobilinizin təhlükəsizliyini və performansını təmin edirik. 
                                    Sürətli və effektiv xidmətlərimizlə, yolunuza heç bir problem yaşamadan davam edin!
                                    </p>
                                </div>
                                <div class="ak-height-45 ak-height-lg-30"></div>
                                @Html.Partial("_socialMedia")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ak-hero ak-style1 slide-inner style-two">
                <img src="~/web-cras-three.vercel.app/assets/img/hero_two_slider_bg_2.png" class="ak-hero-bg ak-bg object-cover" alt="...">
                    <div class="container">
                        <div class="hero-slider-info style-two">
                            <div class="slider-info">
                                <div class="hero-title">
                                <h1 class="hero-main-title " data-swiper-parallax="300">Peşəkar </h1>
                                <h1 class="hero-main-title-1 style-2" data-swiper-parallax="100">Xidmət</h1>
                                    <p class="mini-title" data-swiper-parallax="200">
                                    Peşəkar komandamızla avtomobilinizə ən keyfiyyətli baxım və təmir xidmətləri göstəririk.
                                    Müasir texnologiya və orijinal ehtiyat hissələri istifadə edərək, təhlükəsiz və problemsiz sürüş təmin edirik. 
                                    Sürətli və etibarlı servisimizlə, yolda qalmaqdan narahat olmadan səfərlərinizin dadını çıxarın!
                                    </p>
                                </div>
                                <div class="ak-height-45 ak-height-lg-30"></div>
                            @Html.Partial("_socialMedia")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ak-hero ak-style1  slide-inner style-two">
                <img src="~/web-cras-three.vercel.app/assets/img/hero_two_slider_bg_1.png" class="ak-hero-bg ak-bg object-cover" alt="...">
                    <div class="container">
                        <div class="hero-slider-info style-two">
                            <div class="slider-info">
                                <div class="hero-title">
                                <h1 class="hero-main-title" data-swiper-parallax="300">Avtomobil</h1>
                                <h1 class="hero-main-title-1 style-2" data-swiper-parallax="100">Servisi</h1>
                                    <p class="mini-title" data-swiper-parallax="200">
                                    Peşəkar ustalarımız avtomobilinizin bütün ehtiyaclarını ən yüksək səviyyədə qarşılayır. 
                                    Yüksək keyfiyyətli avadanlıq və ehtiyat hissələri ilə xidmət edirik.
                                    Sürətli və güvənli servislə hər zaman yolunuza davam edin!
                                    </p>
                                </div>
                                <div class="ak-height-45 ak-height-lg-30"></div>
                            @Html.Partial("_socialMedia")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ak-hero ak-style1 slide-inner style-two">
                <img src="~/web-cras-three.vercel.app/assets/img/hero_two_slider_bg_2.png" class="ak-hero-bg ak-bg object-cover" alt="...">
                    <div class="container">
                        <div class="hero-slider-info style-two">
                            <div class="slider-info">
                                <div class="hero-title">
                                <h1 class="hero-main-title " data-swiper-parallax="300">Peşəkar</h1>
                                    <h1 class="hero-main-title-1 style-2" data-swiper-parallax="100">Xidmət</h1>
                                    <p class="mini-title" data-swiper-parallax="200">
                                    Müştərilərimizin etibarını qazanmaq üçün təhlükəsiz və etibarlı xidmətlərimizi sürətlə təklif edirik. 
                                    Peşəkar komandamızla, avtomobilinizin daha uzun müddət faydalı olması üçün ən yüksək keyfiyyətli xidmətlər təmin edirik. 
                                    Bizimlə əlaqə saxlayın və səyahətinizin keyfini çıxarın!
                                    </p>
                                </div>
                                <div class="ak-height-45 ak-height-lg-30"></div>
                            @Html.Partial("_socialMedia")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->
    <!-- Start Service Progress -->

    <!-- End Service Progress -->
    <!-- Start Why Choose Us -->
    @Html.Partial("_whyChooseUsPartial")
    <!-- End Why Choose Us -->
    <!-- Start Services -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="center-section-heading" data-aos="fade-up">
            <div class="ak-section-heading ak-style-1">
                <div class="background-text" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                    Xidmətlərimiz
                </div>
                <div class="text-md-center">
                    <h2 class="ak-section-title">Xidmətlərimiz</h2>
                    <p class="ak-section-subtitle">
                       Xidmətlərimiz
                    </p>
                </div>
            </div>
        </div>
        <div class="ak-height-50 ak-height-lg-50"></div>
        <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 g-4">
        @foreach (var item in Model.Services)
        {
            <div class="col">
                <div class="service-card-style-2" data-aos="fade-up">
                    <div class="service-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                            <path d="M19.5293 25.4204H26.7225V19.6704H11.6834L13.8627 14.7916C14.0912 14.2626 14.6102 13.9204 15.1852 13.9204H24.0545C23.7771 12.4671 23.7728 11.0914 24.0603 9.60793H15.1852C12.8823 9.60793 10.808 10.9764 9.90092 13.0924L6.78442 20.3662C4.96886 21.3336 3.7168 23.2239 3.7168 25.4204V28.2954C3.7168 30.4143 4.88117 32.2486 6.5918 33.2462V38.3579C6.5918 39.9435 7.88123 41.2329 9.4668 41.2329H13.7793C15.3649 41.2329 16.6543 39.9435 16.6543 38.3579V34.0454H26.7225V28.2954H19.5293C18.7358 28.2954 18.0918 27.6514 18.0918 26.8579C18.0918 26.0644 18.7358 25.4204 19.5293 25.4204ZM11.623 30.4517C9.63786 30.4517 8.0293 28.8431 8.0293 26.8579C8.0293 24.8727 9.63786 23.2642 11.623 23.2642C13.6082 23.2642 15.2168 24.8727 15.2168 26.8579C15.2168 28.8431 13.6082 30.4517 11.623 30.4517Z"
                                  fill="white" />
                            <path d="M43.8548 10.2936C43.2612 6.89105 40.4063 4.45737 38.7704 3.96143C38.4944 3.87805 38.2227 4.09655 38.2227 4.38405V11.596C38.2227 12.1408 37.9151 12.6382 37.4278 12.8811L35.9903 13.5999C35.5849 13.8026 35.1091 13.8026 34.7051 13.5999L33.2676 12.8811C32.7803 12.6382 32.4727 12.1394 32.4727 11.596V4.38405C32.4727 4.09512 32.1996 3.87662 31.9221 3.96143C30.2848 4.46887 27.4314 6.93993 26.842 10.3137C26.336 13.2117 27.4228 16.0537 29.1377 17.7701C29.4195 18.0518 29.5963 18.4155 29.5963 18.8137V38.3594C29.5963 41.5334 32.1694 44.1065 35.3434 44.1065C38.5174 44.1065 41.0905 41.5334 41.0905 38.3594L41.0948 18.8209C41.0948 18.4184 41.2774 18.0475 41.562 17.7614C43.2885 16.0364 44.3594 13.1816 43.8548 10.2936ZM35.3549 40.5142C34.1646 40.5142 33.1986 39.5482 33.1986 38.3579C33.1986 37.1677 34.1646 36.2017 35.3549 36.2017C36.5452 36.2017 37.5112 37.1677 37.5112 38.3579C37.5112 39.5482 36.5452 40.5142 35.3549 40.5142Z"
                                  fill="white" />
                        </svg>
                    </div>
                    <div class="service-desp">
                        <a class="title">@item.Title</a>
                        <p class="desp">
                            @item.Description
                        </p>

                    </div>
                </div>
            </div>
        }

        </div>
    </div>
    <!-- end Services -->
    <!-- Start Fun Fact Counter -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="ak-primary-bg">
        <div class="ak-height-65 ak-height-lg-50"></div>
        <div class="container auto-counter-section">
            <div class="row align-items-center gap-lg-0">
                <div class="col-lg-4">
                    <div class="ak-funfact ak-style1" data-aos="fade-up">
                        <div class="ak-funfact-number color-1">
                            <div>
                                <span id="count" class="ak-stroke-number color-white counter" data-number="10"></span>
                            </div>
                            <div><span class="ak-stroke-number color-white">+</span></div>
                        </div>
                        <div class="ak-funfact-text">
                        <p>XİDMƏT İLİ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ak-funfact ak-style1" data-aos="fade-up" data-aos-delay="100">
                        <div class="ak-funfact-number">
                            <div>
                                <span id="count" class="ak-stroke-number color-white counter" data-number="256"></span>
                            </div>
                            <div><span class="ak-stroke-number color-white">+</span></div>
                        </div>

                        <div class="ak-funfact-text">
                        <p>XOŞBƏXT MÜŞTƏRİLƏR</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ak-funfact ak-style1" data-aos="fade-up" data-aos-delay="150">
                        <div class="ak-funfact-number">
                            <div>
                                <span id="count" class="ak-stroke-number color-white counter" data-number="112"></span>
                            </div>
                            <div><span class="ak-stroke-number color-white">+</span></div>
                        </div>
                        <div class="ak-funfact-text">
                        <p>MÜŞTƏRİ MƏMNUNİYYƏTİ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ak-height-65 ak-height-lg-50"></div>
    </div>
    <!-- End Fun Fact Counter -->
    <!-- Start Testimonial  -->
    @await Component.InvokeAsync("Testimonial")
    <!-- End Testimonial -->
    <!-- Start Trusted Client -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="ak-slider ak-trusted-client-slider">
            <h4 class="title">Əməkdaşlarımız</h4>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_1.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_2.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                        <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_3.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_4.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_5.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_6.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_7.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_1.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_2.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                        <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_3.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                        <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_4.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_5.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                        <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_6.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="trusted-client">
                    <img src="~/web-cras-three.vercel.app/assets/img/trusted-client_7.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Trusted Client -->
    <!-- Start Team  -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="center-section-heading" data-aos="fade-up">
            <div class="ak-section-heading ak-style-1">
                <div class="background-text" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                    Kamandamız
                </div>
                <div class="text-md-center">
                    <h2 class="ak-section-title">Kamandamız</h2>
                    <p class="ak-section-subtitle">
                        Azərbayanın Ən Peşəkar Ustaları
                    </p>
                </div>
            </div>
        </div>
        <div class="ak-height-50 ak-height-lg-50"></div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 g-4">
        @foreach (var item in Model.Teams)
        {
            <div class="col">
                <div class="member-card" data-aos="fade-up" data-aos-delay="0">
                    <span href="team-single.html">
                        <img src="@item.ImageUrl" class="member-img ak-bg" alt="..." />
                    </span>
                    <div class="member-info">
                        <div class="member-title">
                            <span class="title">
                                @item.Name @item.Surname
                            </span>
                            <p class="desp">@item.Position</p>
                        </div>
                        <div class="member-info-social">
                            <a href="@item.LinkedInUrl" class="icon">
                                <img src="~/web-cras-three.vercel.app/assets/img/linkedinicon.svg"
                                     alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
    <!-- End Team  -->
    <!-- Start Pricing -->
    <div class="ak-height-125 ak-height-lg-50"></div>
    <div class="ak-bg">
        <div class="container">
            <div class="center-section-heading" data-aos="fade-up">
                <div class="ak-section-heading ak-style-1 ak-type-1">
                    <div class="background-text" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                        Qiymətlərimiz
                    </div>
                    <h2 class="ak-section-title">
                        Qiymətlərimiz
                    </h2>
                    <p class="ak-section-subtitle">
                          Sizə Uyğun Paketi Seçerek və 6 Aylıq Abonelik Alaraq 
                          Peşəkar Xidmətlərimizdən Faydalana Bilərsiz.  
                    </p>
                </div>
            </div>
            <div class="ak-height-50 ak-height-lg-50"></div>
            <div class="pricing">
                @foreach (var item in Model.Pricings)
            {
                <div class="pricing-card active" data-aos="fade-up" data-aos-delay="700">
                    <div class="pricing-heading">
                        <h3 class="page-title">@item.Title</h3>
                        <h2 class="discount-price">₼@item.Price</h2>
                    </div>
                    <div class="opation-all">

                        @await Component.InvokeAsync("PricingDescription", new { pricingId = item.Id })
                    </div>
                    <a asp-action="Order" asp-controller="Pricing" asp-route-id="@item.Id" class="get-started-btn">
                        <span>
                            Xidmətə <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"
                                     fill="none">
                                    <g clip-path="url(#clip0_147_83)">
                                        <path d="M8 0.273438C3.58866 0.273438 0 3.86209 0 8.27344C0 12.6848 3.58866 16.2734 8 16.2734C12.4113 16.2734 16 12.6848 16 8.27344C16 3.86209 12.4113 0.273438 8 0.273438ZM10.4713 8.74478L7.138 12.0781C7.008 12.2081 6.83734 12.2734 6.66666 12.2734C6.496 12.2734 6.32531 12.2081 6.19531 12.0781C5.93466 11.8174 5.93466 11.3961 6.19531 11.1354L9.05734 8.27344L6.19534 5.41144C5.93469 5.15078 5.93469 4.72944 6.19534 4.46878C6.456 4.20813 6.87734 4.20813 7.138 4.46878L10.4713 7.80212C10.732 8.06278 10.732 8.48409 10.4713 8.74478Z"
                                              fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_147_835">
                                            <rect width="16" height="16" fill="white" transform="translate(0 0.273438)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <br>
                            </span> Başla
                        </span>
                    </a>
                </div>
            }
            </div>
        </div>
    </div>
    <!-- End Pricing -->
    <!-- Start Blog -->
    @await Component.InvokeAsync("LastBlogs")
    <!-- End Blog -->

    <!--Start Appointment  form -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="contact-content">
            <div class="contact-title-section" data-aos="fade-up" data-aos-delay="700">
                <h2 class="contact-form-title ak-white-color text-uppercase">Request for a appointment</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's stan.
                </p>
            </div>
            <div class="ak-height-25 ak-height-lg-20"></div>
            <div class="contact-form" data-aos="fade-up" data-aos-delay="750">
                <form>
                    <div class="from-inputs">
                        <div class="type_1">
                            <label for="fullname" class="form-label">Full Name</label>
                            <input type="text" name="fristname" id="fullname">
                        </div>
                        <div class="type_1">
                            <label for="emailInput" class="form-label">Email*</label>
                            <input type="text" name="email" id="emailInput">
                        </div>
                    </div>
                    <div class="from-inputs">
                        <div class="type_1">
                            <label for="phone" class="form-label">phone number*</label>
                            <input type="text" name="fristname" id="phone">
                        </div>
                        <div class="type_1">
                            <label for="Vehicle" class="form-label">Vehicle Type*</label>
                            <input type="text" name="email" id="Vehicle">
                        </div>
                    </div>
                    <div class="from-inputs">
                        <div class="type_1">
                            <label for="time" class="form-label">Select Time*</label>
                            <input type="time" name="fristname" id="time">
                            <span class="date-time-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                     fill="none">
                                    <g clip-path="url(#clip0_1774_31)">
                                        <path d="M19.5251 10.5C19.5251 15.4638 15.4636 19.5252 10.4998 19.5252C5.53603 19.5252 1.47461 15.4638 1.47461 10.5C1.47461 5.53619 5.53603 1.47477 10.4998 1.47477C15.4636 1.47477 19.5251 5.53619 19.5251 10.5Z"
                                              stroke="white" stroke-width="1.4" stroke-miterlimit="10"
                                              stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M5.33641 14.8693C5.55578 14.6499 5.91144 14.6499 6.13081 14.8693C6.35019 15.0887 6.35019 15.4443 6.13081 15.6637C5.91144 15.8831 5.55578 15.8831 5.33641 15.6637C5.11703 15.4443 5.11703 15.0887 5.33641 14.8693Z"
                                              fill="white" />
                                        <path d="M14.8696 5.33632C15.0889 5.11694 15.4446 5.11694 15.664 5.33632C15.8834 5.5557 15.8834 5.91135 15.664 6.13073C15.4446 6.3501 15.0889 6.3501 14.8696 6.13073C14.6502 5.91135 14.6502 5.5557 14.8696 5.33632Z"
                                              fill="white" />
                                        <path d="M6.13081 5.33632C6.35019 5.5557 6.35019 5.91135 6.13081 6.13073C5.91147 6.3501 5.55578 6.3501 5.33641 6.13073C5.11703 5.91135 5.11703 5.5557 5.33641 5.33632C5.55578 5.11694 5.91147 5.11694 6.13081 5.33632Z"
                                              fill="white" />
                                        <path d="M15.664 14.8693C15.8834 15.0887 15.8834 15.4443 15.664 15.6637C15.4446 15.8831 15.089 15.8831 14.8696 15.6637C14.6502 15.4443 14.6502 15.0887 14.8696 14.8693C15.089 14.6499 15.4446 14.6499 15.664 14.8693Z"
                                              fill="white" />
                                        <path d="M10.5 3.75916V4.88263" stroke="white" stroke-width="1.4"
                                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10.5 16.1173V17.2408" stroke="white" stroke-width="1.4"
                                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.75977 10.5H4.88324" stroke="white" stroke-width="1.4"
                                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M16.1172 10.5H17.2407" stroke="white" stroke-width="1.4"
                                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10.5 7.12959V10.5L13.8704 13.8704" stroke="white" stroke-width="1.4"
                                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1774_31">
                                            <rect width="21" height="21" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </span>
                        </div>
                        <div class="type_1">
                            <label for="date" class="form-label">Select Date*</label>
                            <input type="date" name="email" id="date">
                            <span class="date-time-icon">
                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_387_916)">
                                        <path d="M5.33529 3.43018C5.42369 3.43018 5.50848 3.39506 5.57099 3.33254C5.6335 3.27003 5.66862 3.18525 5.66862 3.09684V1.76351C5.66862 1.6751 5.6335 1.59032 5.57099 1.52781C5.50848 1.46529 5.42369 1.43018 5.33529 1.43018C5.24688 1.43018 5.1621 1.46529 5.09958 1.52781C5.03707 1.59032 5.00195 1.6751 5.00195 1.76351V3.09684C5.00195 3.18525 5.03707 3.27003 5.09958 3.33254C5.1621 3.39506 5.24688 3.43018 5.33529 3.43018Z"
                                              fill="white" />
                                        <path d="M9.33529 3.43018C9.42369 3.43018 9.50848 3.39506 9.57099 3.33254C9.6335 3.27003 9.66862 3.18525 9.66862 3.09684V1.76351C9.66862 1.6751 9.6335 1.59032 9.57099 1.52781C9.50848 1.46529 9.42369 1.43018 9.33529 1.43018C9.24688 1.43018 9.1621 1.46529 9.09958 1.52781C9.03707 1.59032 9.00195 1.6751 9.00195 1.76351V3.09684C9.00195 3.18525 9.03707 3.27003 9.09958 3.33254C9.1621 3.39506 9.24688 3.43018 9.33529 3.43018Z"
                                              fill="white" />
                                        <path d="M17.3353 3.43018C17.4237 3.43018 17.5085 3.39506 17.571 3.33254C17.6335 3.27003 17.6686 3.18525 17.6686 3.09684V1.76351C17.6686 1.6751 17.6335 1.59032 17.571 1.52781C17.5085 1.46529 17.4237 1.43018 17.3353 1.43018C17.2469 1.43018 17.1621 1.46529 17.0996 1.52781C17.0371 1.59032 17.002 1.6751 17.002 1.76351V3.09684C17.002 3.18525 17.0371 3.27003 17.0996 3.33254C17.1621 3.39506 17.2469 3.43018 17.3353 3.43018Z"
                                              fill="white" />
                                        <path d="M13.3353 3.43018C13.4237 3.43018 13.5085 3.39506 13.571 3.33254C13.6335 3.27003 13.6686 3.18525 13.6686 3.09684V1.76351C13.6686 1.6751 13.6335 1.59032 13.571 1.52781C13.5085 1.46529 13.4237 1.43018 13.3353 1.43018C13.2469 1.43018 13.1621 1.46529 13.0996 1.52781C13.0371 1.59032 13.002 1.6751 13.002 1.76351V3.09684C13.002 3.18525 13.0371 3.27003 13.0996 3.33254C13.1621 3.39506 13.2469 3.43018 13.3353 3.43018Z"
                                              fill="white" />
                                        <path d="M12.669 10.7134L11.0293 12.763H12.669V10.7134Z" fill="white" />
                                        <path d="M2.00195 18.4302C2.00248 18.872 2.17825 19.2957 2.49069 19.6081C2.80314 19.9205 3.22675 20.0963 3.66862 20.0968H19.002C19.4438 20.0963 19.8674 19.9205 20.1799 19.6081C20.4923 19.2957 20.6681 18.872 20.6686 18.4302V5.43018H2.00195V18.4302ZM15.002 14.7635V13.0968C15.002 13.0084 15.0371 12.9237 15.0996 12.8611C15.1621 12.7986 15.2469 12.7635 15.3353 12.7635C15.4237 12.7635 15.5085 12.7986 15.571 12.8611C15.6335 12.9237 15.6686 13.0084 15.6686 13.0968V13.8248C15.7754 13.7854 15.8881 13.7646 16.002 13.7635C16.2672 13.7635 16.5215 13.8689 16.7091 14.0564C16.8966 14.2439 17.002 14.4983 17.002 14.7635V15.0968C17.002 15.1852 16.9668 15.27 16.9043 15.3325C16.8418 15.3951 16.757 15.4302 16.6686 15.4302C16.5802 15.4302 16.4954 15.3951 16.4329 15.3325C16.3704 15.27 16.3353 15.1852 16.3353 15.0968V14.7635C16.3353 14.6751 16.3002 14.5903 16.2377 14.5278C16.1751 14.4653 16.0904 14.4302 16.002 14.4302C15.9135 14.4302 15.8288 14.4653 15.7663 14.5278C15.7037 14.5903 15.6686 14.6751 15.6686 14.7635V15.0968C15.6686 15.1852 15.6335 15.27 15.571 15.3325C15.5085 15.3951 15.4237 15.4302 15.3353 15.4302C15.2469 15.4302 15.1621 15.3951 15.0996 15.3325C15.0371 15.27 15.002 15.1852 15.002 15.0968V14.7635ZM10.075 12.8885L12.7416 9.55518C12.7848 9.50122 12.8436 9.462 12.91 9.44294C12.9764 9.42389 13.0471 9.42595 13.1123 9.44882C13.1775 9.4717 13.234 9.51427 13.2739 9.57065C13.3139 9.62702 13.3353 9.69442 13.3353 9.76351V12.7635H14.002C14.0904 12.7635 14.1751 12.7986 14.2377 12.8611C14.3002 12.9237 14.3353 13.0084 14.3353 13.0968C14.3353 13.1852 14.3002 13.27 14.2377 13.3325C14.1751 13.3951 14.0904 13.4302 14.002 13.4302H13.3353V15.0968C13.3353 15.1852 13.3002 15.27 13.2377 15.3325C13.1751 15.3951 13.0904 15.4302 13.002 15.4302C12.9135 15.4302 12.8288 15.3951 12.7663 15.3325C12.7037 15.27 12.6686 15.1852 12.6686 15.0968V13.4302H10.3353C10.2725 13.4302 10.2109 13.4125 10.1578 13.379C10.1046 13.3456 10.0619 13.2978 10.0347 13.2412C10.0075 13.1846 9.99686 13.1215 10.004 13.0591C10.0111 12.9967 10.0357 12.9375 10.075 12.8885ZM7.60195 9.43018C8.27062 9.43018 9.53529 9.81851 9.53529 11.2872C9.53529 12.6788 8.07829 14.0135 7.08095 14.7635H10.002C10.0904 14.7635 10.1751 14.7986 10.2377 14.8611C10.3002 14.9237 10.3353 15.0084 10.3353 15.0968C10.3353 15.1852 10.3002 15.27 10.2377 15.3325C10.1751 15.3951 10.0904 15.4302 10.002 15.4302H6.00195C5.92897 15.4302 5.858 15.4062 5.79995 15.362C5.74189 15.3178 5.69996 15.2557 5.68058 15.1854C5.6612 15.115 5.66545 15.0402 5.69267 14.9725C5.7199 14.9048 5.76859 14.8479 5.83129 14.8105C6.67595 14.3068 8.86862 12.6918 8.86862 11.2872C8.86862 10.1405 7.73029 10.0978 7.60195 10.0968C7.4386 10.0838 7.27434 10.1052 7.11973 10.1595C6.96513 10.2138 6.82361 10.2999 6.70429 10.4122C6.58497 10.5245 6.49049 10.6606 6.42694 10.8116C6.36338 10.9627 6.33216 11.1253 6.33529 11.2892C6.3345 11.3771 6.29903 11.4611 6.2366 11.5229C6.17417 11.5848 6.08984 11.6195 6.00195 11.6195C5.91384 11.6191 5.82948 11.5838 5.76733 11.5213C5.70518 11.4588 5.67029 11.3743 5.67029 11.2862C5.66518 11.0346 5.71225 10.7846 5.80852 10.5521C5.90479 10.3196 6.04818 10.1095 6.22965 9.93514C6.41113 9.76077 6.62675 9.62589 6.86293 9.53898C7.09912 9.45207 7.35074 9.41503 7.60195 9.43018Z"
                                              fill="white" />
                                        <path d="M19.002 2.76318H18.3353V3.09652C18.3353 3.36173 18.2299 3.61609 18.0424 3.80362C17.8549 3.99116 17.6005 4.09652 17.3353 4.09652C17.0701 4.09652 16.8157 3.99116 16.6282 3.80362C16.4406 3.61609 16.3353 3.36173 16.3353 3.09652V2.76318H14.3353V3.09652C14.3353 3.36173 14.2299 3.61609 14.0424 3.80362C13.8549 3.99116 13.6005 4.09652 13.3353 4.09652C13.0701 4.09652 12.8157 3.99116 12.6282 3.80362C12.4406 3.61609 12.3353 3.36173 12.3353 3.09652V2.76318H10.3353V3.09652C10.3353 3.36173 10.2299 3.61609 10.0424 3.80362C9.85486 3.99116 9.6005 4.09652 9.33529 4.09652C9.07007 4.09652 8.81572 3.99116 8.62818 3.80362C8.44064 3.61609 8.33529 3.36173 8.33529 3.09652V2.76318H6.33529V3.09652C6.33529 3.36173 6.22993 3.61609 6.04239 3.80362C5.85486 3.99116 5.6005 4.09652 5.33529 4.09652C5.07007 4.09652 4.81572 3.99116 4.62818 3.80362C4.44064 3.61609 4.33529 3.36173 4.33529 3.09652V2.76318H3.66862C3.22675 2.76371 2.80314 2.93948 2.49069 3.25192C2.17825 3.56437 2.00248 3.98799 2.00195 4.42985V4.76318H20.6686V4.42985C20.6681 3.98799 20.4923 3.56437 20.1799 3.25192C19.8674 2.93948 19.4438 2.76371 19.002 2.76318Z"
                                              fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_387_916">
                                            <rect width="20" height="20" fill="white"
                                                  transform="translate(0.834961 0.763184)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="from-textarea">
                        <div class="type_1">
                            <label for="textareaInput" class="form-label">Your Message*</label>
                            <textarea name="textarea" rows="5" id="textareaInput"></textarea>
                        </div>
                    </div>
                    <div class="ak-height-40 ak-height-lg-20"></div>
                    <button type="submit" class="common-btn">Appointment Now</button>
                </form>
            </div>
        </div>
    </div>
    <!--End Appointment form -->
    <!-- Start Footer -->
