@model List<DTOLayer.AboutDTOs>


<div class="ak-height-125 ak-height-lg-40"></div>
<div class="container">
    <div class="common-page-title">
        <h3 class="page-title">Haqqımızda</h3>
        <div class="d-flex gap-2 align-items-center">
            <p>Ana Səyfə /</p>
            <a href="~/About/Index">Haqqımızda</a>
        </div>
    </div>
</div>
    </div>
<!-- End common page title  -->
<!-- Start Company Tab-->
<div class="ak-height-125 ak-height-lg-80"></div>
<div class="container">
    <div class="company-tab">
        <ul class="tabs">
            <li class="active-tab">Misyamız</li>
            <li>Vizyonumuz</li>
            <li>Tariximiz</li>
        </ul>

        @foreach (var item in Model)
        {

            <div class="tabs-content">
                <div class="list">
                <div class="ak-section-heading ak-style-1 ak-type-1">
                    <div class="background-text">Haqqımızda</div>
                    <h3 class="desp">
                           @item.Misson
                    </h3>
                </div>
            </div>
            <div class="list">
                <div class="ak-section-heading ak-style-1 ak-type-1">
                    <div class="background-text">Haqqımızda</div>
                    <h3 class="desp">
                           @item.Vision
                    </h3>
                </div>
            </div>
            <div class="list">
                <div class="ak-section-heading ak-style-1 ak-type-1">
                    <div class="background-text">Haqqımızda</div>
                    <h3 class="desp">
                          @item.History
                    </h3>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<!-- End Company Tab-->
<!-- Start Why Choose Us -->
<div class="ak-height-125 ak-height-lg-80"></div>
@Html.Partial("_whyChooseUsPartial")
<!-- End Why Choose Us -->
<!-- Start Fun Fact Counter -->
<div class="ak-height-125 ak-height-lg-80"></div>
@Html.Partial("_FunFuctPartial")
<!-- End Fun Fact Counter -->
<!-- Start Testimonial  -->
@await Component.InvokeAsync("Testimonial")
<!-- End Trusted Client -->
<!-- Start Cta -->
<div class="ak-height-125 ak-height-lg-80"></div>
@Html.Partial("_ContactUsShortCutPartial")


