@model BlogDTOs

@{
    ViewData["Title"] = "BlogDetail";
}



    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <div class="common-page-title">
                <h3 class="page-title">Blog</h3>
                <div class="d-flex gap-2 align-items-center">
                    <p>Ana Səhifə /</p>
                <a href="/Blog/Index">Blog</a>
                </div>
            </div>
        </div>
        <div class="primary-color-border"></div>
    </div>

    <div class="ak-height-75 ak-height-lg-80"></div>
    <div class="container container-customize">
        <div>
            <div class="time-title" data-aos="fade-up" data-aos-delay="600">
            <p class="time">@Model.CreateTime.ToString("dd/MM/yyyy")</p>
                <h4 class="title">@Model.Title</h4>
                <div class="ak-height-50 ak-height-lg-30"></div>
            </div>
            <div data-aos="fade-up" data-aos-delay="700">
            <img src="@Model.ImageUrl" class="img-fluid" style="width: 843px; height: 485px;" alt="...">
                <div class="ak-height-50 ak-height-lg-30"></div>
            </div>

            <div data-aos="fade-up">
                <p class="desp">@Html.Raw(Model.Text)</p>
                <div class="ak-height-50 ak-height-lg-30"></div>
            </div>
        </div>
        <div data-aos="fade-up">
            <div class="primary-color-border"></div>

       </div>
       @if(Model.CommentCounta==0)
       {
        <div class="ak-height-125 ak-height-lg-80"></div>
        <div class="single-blog-list" data-aos="fade-up">
            <h4 class="single-blog-title">Comment (0)</h4>
            <p class="single-blog-desp">
                Bu Bloga Comment Atılmayıb!!!!
            </p>
        </div>
       }
       else
       {
        <div class="ak-height-125 ak-height-lg-80"></div>
        <div class="single-blog-list" data-aos="fade-up">
            <h4 class="single-blog-title">Comment (@Model.CommentCounta)</h4>
            @await Component.InvokeAsync("CommentList" , new { id = @ViewBag.i })
            </div>
        }
       

    @await Html.PartialAsync("~/Views/Comment/CommentAdd.cshtml", new { id = ViewBag.i })
    </div>


    @await Component.InvokeAsync("LastBlogs")

