
@model CoreLayer.Results.Concrete.SuccessDataResult<DTOLayer.BlogDTO.BlogDTOs>

@{
    ViewData["Title"] = "BlogDetail";
}


    <!-- Start common page title  -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <div class="common-page-title">
                <h3 class="page-title">Blog</h3>
                <div class="d-flex gap-2 align-items-center">
                    <p>Ana Səhifə /</p>
                <a href="/Blog/Index">Blog</a>
                </div>
            </div>
        </div>
        <div class="primary-color-border"></div>
    </div>
    <!-- End common page title  -->


    <!--Start blog content -->
    <div class="ak-height-75 ak-height-lg-80"></div>
    <div class="container container-customize">
        <div>
            <div class="time-title" data-aos="fade-up" data-aos-delay="600">
            <p class="time">@Model.Data.CreateTime.ToString("dd/MM/yyyy")</p>
                <h4 class="title">@Model.Data.Title</h4>
                <div class="ak-height-50 ak-height-lg-30"></div>
            </div>
            <div data-aos="fade-up" data-aos-delay="700">
                <img src="~/web-cras-three.vercel.app/assets/img/single-blog.jpg" class="img-fluid" alt="...">
                <div class="ak-height-50 ak-height-lg-30"></div>
            </div>

            <div data-aos="fade-up">
                <p class="desp">@Model.Data.Text</p>
                <div class="ak-height-50 ak-height-lg-30"></div>
            </div>
        </div>
        <div data-aos="fade-up">
            <div class="primary-color-border"></div>

       </div>
       @if(Model.Data.CommentCounta==0)
       {
        <div class="ak-height-125 ak-height-lg-80"></div>
        <div class="single-blog-list" data-aos="fade-up">
            <h4 class="single-blog-title">Comment (0)</h4>
            <p class="single-blog-desp">
                Bu Bloga Comment Atılmayıb!!!!
            </p>
        </div>
       }
       else
       {
        <div class="ak-height-125 ak-height-lg-80"></div>
        <div class="single-blog-list" data-aos="fade-up">
            <h4 class="single-blog-title">Comment (@Model.Data.CommentCounta)</h4>
            @await Component.InvokeAsync("CommentList" , new { id = @ViewBag.i })
            </div>
        }
       

    @await Html.PartialAsync("~/Views/Comment/CommentAdd.cshtml", new { id = ViewBag.i })
    </div>
    <!--End blog content -->


    <!-- Start Blog -->
    @await Component.InvokeAsync("LastBlogs")
    <!-- End Blog -->

