@model List<ServiceDTOs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xidmətlərimiz</h1>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive overflow-hidden">


                <p>
                    <a href="~/Admin/Service/AddService" class="btn btn-primary">@DefaultConstantValue.ADD_MESSAGE</a>
                </p>

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Başlıq</th>
                            <th>Acıqlama</th>
                            <th>Icon</th>
                            <th>Ana Ekranda</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>@item.Icon</td>
                                <td>
                                    <span class="badge @(item.isHomePage == true ? "badge-success" : "badge-warning")">
                                        @(item.isHomePage == true ? "Hə" : "Yox")
                                    </span>
                                </td>
                                <td>
                                    <span class="badge @(item.Delete == 0 ? "badge-success" : "badge-warning")">
                                        @(item.Delete == 0 ? "Aktiv" : "Passiv")
                                    </span>
                                </td>
                                <td>
                                    <a  asp-action="ServiceUpdate" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-warning btnDelete" data-id="@item.Id" data-name="@item.Title">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <a class="btn btn-danger btnHardDelete" data-id="@item.Id" data-name="@item.Title">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(".btnHardDelete").click(function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name");

            Swal.fire({
                title: 'Əminsən?',
                text: "Geri döndərə bilməyəcəksiz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonText: "Ləğv et",
                cancelButtonColor: '#d33',
                confirmButtonText: 'Bəli '
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: "POST",
                        url: "/Admin/Service/HardDeleteService/",
                        data: {
                            id: itemId
                        },
                        success: function () {
                            Swal.fire({
                                title: 'Silindi!',
                                text: "'" + itemName + "' silindi",
                                icon: 'success',
                                onClose: function () {
                                    window.location.reload();
                                }
                            });
                        },
                        error: function () {
                            Swal.fire({
                                title: 'Xəta!',
                                text: "Silinmə zamanı xəta baş verdi",
                                icon: 'error'
                            });
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(".btnDelete").click(function () {
            var itemId = $(this).data("id");
            var itemName = $(this).data("name");

            Swal.fire({
                title: 'Əminsən?',
                text: "!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonText: "Ləğv et",
                cancelButtonColor: '#d33',
                confirmButtonText: 'Bəli '
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: "POST",
                        url: "/Admin/Service/HardDeleteService/",
                        data: {
                            id: itemId
                        },
                        success: function () {
                            Swal.fire({
                                title: 'Aktivlik Vəziyyəti Dəyişdi!!',
                                text: "'" + itemName + "' Uğurlu",
                                icon: 'success',
                                onClose: function () {
                                    window.location.reload();
                                }
                            });
                        },
                        error: function () {
                            Swal.fire({
                                title: 'Xəta!',
                                text: "Dəyişmə zamanı xəta baş verdi",
                                icon: 'error'
                            });
                        }
                    });
                }
            });
        });
    </script>
}
