@using DTOLayer.TeamDTO

@model List<TeamDTOs>



<h1>Komanda Üzvləri</h1>
<hr />

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive overflow-hidden">
                <p>
                    <a href="~/Admin/Team/AddTeam" class="btn btn-primary">@DefaultConstantValue.ADD_MESSAGE</a>

                </p>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ad</th>
                            <th>Soyadı</th>
                            <th>Vəzifə</th>
                            <th>Şəkil</th>
                            <th>Ana Ekranda</th>
                            <th>Aktivlik</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.Position</td>
                                <td><img src="@item.ImageUrl" style="width:100px; height:100px" alt="Image" /></td>
                                <td>
                                    @if (item.isHomePage == true)
                                    {
                                        <span class="badge badge-success">Hə</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-warning">Yox</span>
                                    }
                                </td>
                                <td>
                                    @if (item.Delete == 0)
                                    {
                                        <span class="badge badge-success">Aktiv</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-warning">Passiv</span>
                                    }
                                </td>
                                <td>
                                    <a href="~/Admin/Team/UpdateTeam/@item.Id" class="btn btn-success"><i class="fas fa-edit"></i></a>

                                    <a class="btn btn-warning btnDelete" data-id="@item.Id" data-name="@item.Name">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <a class="btn btn-danger btnHardDelete" data-id="@item.Id" data-name="@item.Name">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $(".btnHardDelete").click(function (e) {
                e.preventDefault();

                var itemId = $(this).data("id");
                var itemName = $(this).data("name");

                Swal.fire({
                    title: 'Əminsən?',
                    text: "Geri döndərə bilməyəcəksiz!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonText: "Ləğv et",
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Bəli'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: "POST",
                            url: "/Admin/Team/HardDeleteTeam/",
                            data: {
                                id: itemId
                            },
                            success: function () {
                                Swal.fire({
                                    title: 'Silindi!',
                                    text: "'" + itemName + "' silindi",
                                    icon: 'success',
                                    onClose: function () {
                                        location.reload();
                                    }
                                });
                            },
                            error: function () {
                                Swal.fire({
                                    title: 'Xəta!',
                                    text: "Silinmə zamanı xəta baş verdi",
                                    icon: 'error'
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function (e) {
                e.preventDefault();

                var itemId = $(this).data("id");
                var itemName = $(this).data("name");

                Swal.fire({
                    title: 'Əminsən?',
                    text: "!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonText: "Ləğv et",
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Bəli'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: "POST",
                            url: "/Admin/Team/DeleteTeam/",
                            data: {
                                id: itemId
                            },
                            success: function () {
                                Swal.fire({
                                    title: 'Aktivlik Vəziyyəti Dəyişdi!',
                                    text: "'" + itemName + "' Uğurlu",
                                    icon: 'success',
                                    onClose: function () {
                                        location.reload();
                                    }
                                });
                            },
                            error: function () {
                                Swal.fire({
                                    title: 'Xəta!',
                                    text: "Dəyişmə zamanı xəta baş verdi",
                                    icon: 'error'
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>

}